@media (max-width: 1400px) {
  .about__wrapper {
    flex-direction: column-reverse;
  }
  .about__para {
    margin-bottom: 32px;
  }
  .pillar__wrapper {
    flex-direction: column;
  }

  .pillar__title {
    text-align: center;
  }

  .pillar__para {
    text-align: center;
    max-width: 400px;
  }

  .donate:before {
    display: none;
  }
}

@media (max-width: 820px) {
  .contact__box--title {
    font-size: 28px;
  }
}

@media (max-width: 850px) {
  .contact__address {
    flex-direction: column;
  }
}

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  table {
    width: 170%;
    overflow: auto;
    white-space: nowrap;
    margin: 22px;
  }

  .scrollit {
    overflow-y: scroll;
  }

  .pillar__wrapper {
    flex-direction: column;
  }

  .pillar__title {
    text-align: center;
  }

  .pillar__para {
    text-align: center;
    max-width: 400px;
  }

  .prayer {
    width: calc(100% / 3);
  }

  .donate:before {
    display: none;
  }

  .sticky .section-hero {
    margin-top: 5.6rem;
  }

  .link__hover-effect,
  .link__hover-effect--black {
    display: none;
  }
  .prayer__timetable--row {
    margin-top: 7rem;
  }
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 2.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.2rem;
  }
}

@media (max-width: 675px) {
  .google__maps {
    width: 90vw;
  }
  .prayer {
    width: calc(100% / 2);
  }
}

@media (max-width: 600px) {
  .nav__link:first-child,
  .nav__link:nth-child(2) {
    display: none;
  }
}

/* SMALL PHONES */

@media (max-width: 500px) {
  .phone {
    font-size: 16px;
  }
  .contact__box--sub-title {
    font-size: 16px;
  }
  .email {
    padding: 4px 16px;
  }
  .logo {
    height: 5rem;
  }

  .header {
    height: 5.5rem;
  }

  .sticky .header {
    height: 5.5rem;
  }
}

@media (max-width: 480px) {
  .about__img {
    width: 100%;
  }
  .landing__page-heading {
    font-size: 40px;
  }
  .landing__page-para {
    font-size: 18px;
  }
  .pillars__heading {
    font-size: 36px;
  }
  .logo {
    margin: 5px;
  }
  .prayer {
    width: calc(100%);
  }
  .donate {
    padding: 12px 24px;
  }

  .donate:before {
    display: none;
  }
}

@media (max-width: 360px) {
  .nav__list {
    margin-right: 16px;
  }

  .logo {
    margin: 0;
  }

  .home__button {
    display: none;
  }
}

@media (max-width: 390px) {
  .nav__list {
    margin-right: 16px;
  }

  .logo {
    margin: 0;
  }

  .home__button {
    display: none;
  }
}

@media (max-width: 375px) {
  .contact__boxes {
    width: 165%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 50px;
  }

  .contact__box {
    width: 50%;
    margin-bottom: 28px;
  }

  .address {
    margin-bottom: 12px;
  }

  .contact__address {
    flex-direction: column;
  }
  .google__maps {
    width: 100%;
  }
}

@media (max-width: 428px) {
  .donate--small-text {
    display: inline-block;
  }
  .donate--full-text {
    display: none;
  }

  .donate__after {
    display: flex;
    justify-content: center;
  }

  .donate:before {
    visibility: visible;
    display: inline-block;
  }

  .contact__boxes {
    width: 165%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 50px;
  }

  .contact__box {
    width: 50%;
    margin-bottom: 28px;
  }

  .address {
    margin-bottom: 12px;
  }

  .contact__address {
    flex-direction: column;
  }

  .google__maps {
    width: 100%;
  }

  .nav__link:nth-child(3) {
    visibility: visible;
  }

  .nav__link:first-child {
    visibility: hidden;
    display: none;
  }

  .scrollit {
    overflow-y: scroll;
  }
}
