@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* .landing-page {
  min-height: 100vh;
} */

/* NAV BAR */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.nav__lists {
  display: flex;
  transition: all 300ms ease-in-out;
}

li {
  list-style-type: none;
}

.nav__list {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #3a9b43;
  font-weight: 500;
  pad: 8px;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect--black:after {
  background-color: #3a9b43;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.donate {
  padding: 16px 33px;
  color: #0d1832;
  border: 2px solid #3a9b43;
  border-radius: 100px;
  text-decoration: none;
}

.donate:hover {
  border-radius: 100px;
  background-color: #32953c;
  color: white;
  transition: all 400ms ease-in-out;
  text-decoration: under;
}

/* LANDING PAGE */

.landing-page{
  height: calc(100vh - nav);
}

.landing__page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__img {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

.landing__page-heading {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 0%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  font-family: "Amita", Sans-serif;
  color: white;
  line-height: 1.4rem;
  font-size: 50px;
}

.landing__page-para {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 0%;
  margin: auto;
  top: 236px;
  left: 0;
  bottom: 0;
  color: white;
  line-height: 2.1rem;
  font-size: 22px;
}

/* TIMETABLE SECTION */

.prayer__timetable--wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.timetable__heading {
  font-size: 28px;
  padding: 28px 0 28px 0;
}

.prayer__timetable-img {
  max-width: 100%;
  margin: 0 auto;
}

/* TEST 123 */
/* AWEDAWJDAJDAJDAWJDJAWDJAWDAJWDAWJD */
/*CHANGE*/
