@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.highlight {
  background-color: #d3b362;
  border-color: #d3b362;
  font-weight: bold;
}

/* NAV BAR */
.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav__lists--wrapper {
  display: flex;
  align-items: center;
}

.nav__lists {
  display: flex;
  transition: all 300ms ease-in-out;
}

li {
  list-style-type: none;
}

.nav__list {
  margin-right: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #3a9b43;
  font-weight: 500;
  pad: 8px;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect--black:after {
  background-color: #3a9b43;
}

.link__hover-effect:after {
  content: '';
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.donate {
  padding: 16px 33px;
  color: #0d1832;
  border: 2px solid #3a9b43;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  color: #3a9b43;
  font-weight: 500;
}

.donate--small-text {
  display: none;
}

.donate:hover {
  border-radius: 100px;
  background-color: #32953c;
  color: white;
  transition: all 400ms ease-in-out;
  text-decoration: under;
}

/* LANDING PAGE */

.landing-page {
  height: calc(100vh - nav);
}

.landing__page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__img {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  height: calc(100vh - 120px);
}

.landing__page-heading {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 0%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  font-family: 'Amita', Sans-serif;
  color: white;
  padding: 0 8px 300px 8px;
  font-size: 50px;
}

.landing__page-para {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 0%;
  margin: auto;
  padding: 0 16px;
  top: 236px;
  left: 0;
  bottom: 0;
  color: white;
  line-height: 2.1rem;
  font-size: 22px;
  font-family: 'Amita', Sans-serif;
}

/* TIMETABLE SECTION */

.prayer__timetable-section {
  padding-bottom: 4.8rem;
}

.prayer__timetable--wrapper {
  outline: 3px solid green;
  margin: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  border-radius: 8px;
}

/* Prayer Time Table */
.prayer__timetable--row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.prayer__time--heading {
  text-align: center;
  line-height: 1.3;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-family: 'Amita', Sans-serif;
}

.prayer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  padding-bottom: 32px;
}

.prayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  width: calc(100% / 5);
}

.prayer__title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 24px;
}

.prayer__time {
  font-size: 48px;
  font-weight: 400;
}

table {
  line-height: 1;
  width: 100%;
  margin: 1.5rem auto;
}

td {
  width: 20%;
  text-align: center;
  padding: 1rem;
}

span {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0;
  vertical-align: top;
}

.monthly__timetable {
  color: #0d1832;
  border: 2px solid #3a9b43;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  color: #3a9b43;
  padding: 8px;
  margin-bottom: 24px;
}

.monthly__timetable:hover {
  background: #32953c;
  color: white;
  transition: all 300ms ease;
}

/* ABOUT */

#about {
  padding: 7.6rem 0;
}

.about__container {
  width: 100%;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.about__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about__img {
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
  border-style: hidden;
}

.about__wrapper {
  display: flex;
  justify-content: space-around;
}

.about__info--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__h2 {
  font-size: 44px;
  font-weight: 500;
  margin: 16px;
  font-family: 'Amita', Sans-serif;
}

.about__para {
  margin-left: 14px;
  line-height: 1.5;
  max-width: 80%;
  text-align: center;
}

/* PILLARS OF ISLAM */

.pillars {
  padding-bottom: 7.6rem;
}

.pillars__container {
  width: 100%;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.pillars__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pillars__heading {
  font-size: 44px;
  font-weight: 700;
  margin: 16px;
  font-family: 'Amita', Sans-serif;
  text-align: center;
}

.pillar__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pillar__title {
  font-family: 'Amita', Sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #32953c;
}

.pillar__para {
  line-height: 1.2;
  max-width: 100%;
}

.pillar__type--wrapper {
  margin: 14px;
}

/* Footer */

.footer__container {
  padding: 50px 0;
  border-top: 3px solid #32953c;
  border-radius: 5px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: white;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__info {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  font-weight: 500;
}

.footer__address {
  margin: 12px;
  text-align: center;
}

.footer__container {
  text-align: center;
}

.footer__logo--img {
  width: 120px;
}

.footer__link,
.footer__copyright {
  color: black;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}

.footer__lists {
  display: flex;
  transition: all 300ms ease-in-out;
  margin-bottom: 20px;
}

.nav__list--footer {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

/* 

CONTACT 

*/

.contact {
  background-color: #f4f4f5;
}

.contact__boxes {
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 80px;
}

.contact__box {
  border: 2px #32953c solid;
  padding: 36px 0;
  border-radius: 25px;
  width: 30%;
  background-color: white;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.contact__box--title {
  font-size: 36px;
  margin-bottom: 12px;
  text-align: center;
}

.address {
  text-align: center;
}

.contact__box--sub-title {
  margin-bottom: 32px;
  font-size: 18px;
}

.email {
  padding: 12px 30px;
  font-size: 24px;
  border-radius: 25px;
  color: white;
  background-color: #3a9b43;
  transition: all 300ms ease;
  text-decoration: none;
}

.email:hover {
  color: #32953c;
  background-color: #fff;
  border: 2px #32953c solid;
}

.phone {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.025em;
}

i {
  font-size: 80px;
  margin-bottom: 24px;
  color: #32953c;
}

.contact__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 24px;
}

.contact__address--text {
  padding-right: 8px;
}

.address {
  font-size: 24px;
  font-weight: 400;
  padding-top: 12px;
}

/* 

Monthly Table

*/

.monthly-timetable--wrapper {
  flex-direction: column;
}

table {
  table-layout: fixed;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.scrollit {
  overflow-y: scroll;
  height: 100vh;
}

.tg td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg .tg__green {
  background-color: #3a9b43;
  font-weight: bold;
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}
